.product {
    /* float: left; */
    position: relative;
    width: 40%;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px 10px 10px;
    margin: 0 10px;
}

.product--name {
    font-weight: normal;
    background: #f5f5f5;
    display: block;
    padding: 10px;
    margin: -20px -10px 10px;
    font-size: 14px;
}
