.search-bar {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 50px;
    border-bottom: 1px solid #cccccc;
}

.search-bar--search {
    border: none;
    height: 50px;
    width: 100%;
    font-size: 20px;
    line-height: 1;
    color: #777;
    padding: 0.5rem 1rem;
}

.search-bar--search:focus {
    outline: none;
    color: #000;
}
