.customer {
    margin: -10px -10px 10px;
    padding: 10px;
    border-top: solid 1px #ddd;
}

.customer--info {
    padding: 10px 10px 0 46px;
}

.customer--avatar {
    border-radius: 100%;
    width: 36px;
    height: 36px;
    margin-left: -46px;
    float: left;
}

.customer--name {
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
}

.customer--company {
    color: #999;
}

.customer--company:before {
    content: " @ ";
}

.customer--quote {
    clear: both;
    font-style: oblique;
    margin: 10px 0 0;
    padding: 5px 5px 5px 10px;
    border-left: solid 3px #ccc;
}
